body {
    background-color: #323232;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    font-weight: lighter;
}

.section {
    margin-top: 1rem;
    width: 94vw;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -12px;
    padding: 1rem;
}

#portrait {
    max-height: 40vh;
    width: auto;
    border-radius: .3rem;
    box-shadow: rgb(209, 209, 209) 0px 0px 0px 3px;
}

#skills-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-with-name-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .5rem;
    width: 6.1rem;
}

.icon-background {
    height: 3rem;
    width: 3rem;
    background-color: rgb(194, 194, 194);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: .3s ease-in-out;
}

.icon-background:hover {
    background-color: rgb(255, 255, 255);
    transition: .4s ease-in-out;
}

.skills-icon {
    height: 80%;
    width: auto;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

a {
    color: rgb(233, 233, 233);
}