body {
    background-image: url(./mymind-mI-bnIqbeZ0-unsplash.jpg);
}

#about-section {
    font-family: Tahoma, sans-serif;
    color: rgb(104, 104, 104);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    height: 87vh;
    padding: 40px;
}

#me-picture {
    height: 85vh;
    width: auto;
    border: solid 8px rgb(239, 117, 87);
}

#skills-section-container {
    font-family: Tahoma, sans-serif;
    background-color: rgb(111, 111, 111);
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    height: auto;
    padding: 50px;
}

#skills-id {
    margin-bottom: 20px;
}

#skills-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-w-name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.skills-icon {
    height: 50px;
    width: auto;
}

#projects-section {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-container {
    height: 87vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

#project-container_1 {
    margin-right: 4px;
}

#project-container_2 {
    margin-left: 4px;
    margin-right: 4px;
}

#project-container_3 {
    margin-left: 4px;
}

#contact-section {
    font-family: Tahoma, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 8px;
    height: 200px;
    padding: 20px;
}

.contact-icons {
    height: 50px;
    width: auto;
    margin: 10px;
    background-color: white;
}